<html>
    <head>
        <title>Search Engine</title>
    </head>
    <body>
        <h2>Web Ranking</h2>
        <form>
            <input type="text" name="search" placeholder="Enter word to find">
            <input type="submit" value="Search">
        </form>
        <br>
        {% for web in sort_webs %}
            <form method="POST" action='/click'>
                {{ web.website.title }}<br>
                <input type="submit" value="{{ web.website.url }}" name="url">
                {% csrf_token %}
            </form>
            <br>
        {% endfor %}
    </body>
</html>
