<html>
    <head>
        <title>Search Engine</title>
    </head>
    <body>
        <h2>Web Ranking</h2>
        <form>
            <input type="text" name="search" placeholder="Enter word to find">
            <input type="submit" value="Search">
        </form>
    <table>
        {% for web in webs %}
        <tr>
            <td>{{ web.website.title}}. </td>
            <td><a href="{{ web.website.url }}">{{ web.website.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
    </body>
</html>